/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
.authorization,.registration{left:18%;transform:translate(-50%,-50%);animation:1.5s forwards show}[v-cloak]{display:none}.authorization{width:50vh;position:absolute;top:43%}.top-container{width:53.54368932038835vh;height:26.098300970873787vh;position:relative}.top-container .header-block{left:14.261165048543688vh;top:13.310679611650485vh;position:absolute}.top-container .header-block .header{color:#fff;font-size:2.8385922330097086vh;font-family:Geometria;font-weight:700}.top-container .header-block .server{color:#f86f1a;font-size:2.8385922330097086vh;font-family:Geometria;font-weight:700;filter:drop-shadow(0vh 0vh 1.9873431585367443vh #F86F1A)}.top-container .logo{width:34.098300970873787vh;height:34.098300970873787vh;right:30vh;top:0;position:absolute}.eye{width:2.912621359223301vh;position:relative;right:5.5vh;top:.8vh}input{height:7.18948158338232vh;width:27.43689320388349vh;padding:0 6.5vh 0 10vh;border-radius:.913083553314209vh;border:.1820388349514563vh solid #f76e19;margin-bottom:1.1349514563106797vh;font-family:Montserrat-Medium;text-align:left;font-size:1.7vh;color:#fff;outline:0}input::placeholder{color:#fff}input[name=login]{background:url(../images/Group36823.svg) 2.5vh no-repeat,rgba(247,110,25,.10000000149011612);background-size:7.389077669902913vh;background-position:-.1vh}input[name=pass]{background:url(../images/Group36824.svg) 2.5vh no-repeat,rgba(247,110,25,.10000000149011612);background-size:7.389077669902913vh;background-position:-.1vh}input[name=mail]{background:url(../images/Group36826.svg) 2.5vh no-repeat,rgba(247,110,25,.10000000149011612);background-size:7.389077669902913vh;background-position:-.1vh}input[name=referral]{background:url(../images/Group36828.svg) 2.5vh no-repeat,rgba(247,110,25,.10000000149011612);background-size:7.389077669902913vh;background-position:-.1vh}.button{width:32vh;height:7.5848158338232vh;padding:0 6.5vh;font-family:Montserrat-SemiBold;font-size:2.0279223300970873vh;line-height:7.9vh;text-align:center;color:#fff;background:linear-gradient(270deg,#f76e19 0,#de5300 50%,#f76e19 100%);border-radius:.912621359223301vh;margin-top:.5vh;transition:.4s}.button:hover{filter:drop-shadow(0vh .570677264222821vh 2.282709056891284vh rgba(234, 96, 12, .5))}.registration{width:50vh;position:absolute;top:45%}.selectsex-container{width:47.93689320388349vh;height:8.879854368932039vh;position:relative;top:.8vh}.selectsex-container .selectsex-header{left:4.733009708737864vh;top:.12135922330097088vh;position:absolute;color:#fff;font-size:1.8203883495145632vh;font-family:Montserrat-SemiBold;font-weight:600}.selectsex-container .selectsex-icon{width:3.2766990291262137vh;height:2.621359223300971vh;left:.3640776699029126vh;top:0;position:absolute}.selectsex-container .selectsex-button-block{top:4vh;position:relative;display:inline-block}.selectsex-container .selectsex-button-block .selectsex-button{width:21.7vh;height:5.097087378640777vh;position:relative;border:.1820388349514563vh solid #f66d18;border-radius:.970873786407767vh;font-family:Montserrat-SemiBold;font-size:1.6279223300970873vh;font-weight:600;line-height:5.1vh;text-align:center;color:#fff;margin-left:0;margin-right:1vh}.selectsex-container .selectsex-button-block .selectsex-button.active,.selectsex-container .selectsex-button-block .selectsex-button:hover{background:linear-gradient(270deg,#f76e19 0,#de5300 50%,#f76e19 100%);box-shadow:0 .570677264222821vh 2.282709056891284vh #f76e19;border:none}@keyframes hideInterface{0%{opacity:1}100%{opacity:0}}@keyframes show{0%{opacity:0}100%{opacity:1}}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('fonts/Montserrat-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('fonts/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-BoldItalic';
    src: url('fonts/Montserrat-BoldItalic.ttf') format('truetype');
}