/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */

[v-cloak] {
    display: none;
}
.interface-hud {
}
.hud {
    position: absolute;
    top: 0;
    right: 0;
}
.interface-hud .hud .hud-background {
    width: 250vh;
    position: absolute;
    top: -1vh;
    right: 0vh
}
.interface-hud .hud .logotype-container {
    width: 37.08495145631068vh;
    height: 16.631067961165048vh;
    position: relative;
    top: -2vh;
    right: 1vh;
}
.interface-hud .hud .logotype-container .logotype {
    display: block;
    width: 27.058252427184467vh;
    height: 27.058252427184467vh;
    right: -0.8vh;
    position: absolute
}
.interface-hud .hud .logotype-container .server-name {
    width: 20.744660194174757vh;
    height: 4.12621359223301vh;
    right: 20.0349514563106797vh;
    top: 6.02621359223301vh;
    position: absolute;
    color: #E65601;
    font-size: 3.3553398058252426vh;
    font-family: Geometria;
}
.server-info-block {
    position: absolute;
    left: 1vh;
    bottom: 1vh;
}
.server-info {
    color: rgba(255, 255, 255, 0.80);
    font-size: 1.5980582524272vh;
    font-family: Montserrat-Medium;
    text-align: right;
}
.server-info-icon {
    position: relative;
    width: 3.2vh;
    top: 0.8vh;
    right: 0.3vh;
    opacity: 0.8;
}
.interface-hud .hud .wanted {
    position: absolute;
    width: 3.7133495145631066vh;
    top: 2.6vh;
    right: 0.3vh
}
.interface-hud .hud .progress-bar-container {
    position: absolute;
    width: 30.76699029126213vh;
    height: 11.072815533980583vh;
    background: linear-gradient(269deg, rgba(217, 81, 0, 0.90) 1%, rgba(217, 81, 0, 0.70) 38%, rgba(217, 81, 0, 0.65) 50%, rgba(217, 81, 0, 0.20) 85%, rgba(217, 81, 0, 0.100) 90%, rgba(217, 81, 0, 0) 100%);
    backdrop-filter: blur(4vh);
    -webkit-backdrop-filter: blur(4vh);
    right: 0
}
.interface-hud .hud .progress-bar-container .progress-bar-block {
    position: relative;
    display: inline-block;
    width: 7.3vh;
    height: 7.3vh;
    left: 8vh;
    top: 1vh;
    margin-left: 2vh;
}
.interface-hud .hud .progress-bar-container .progress-bar-block .progress-bg {
    stroke: rgba(0, 0, 0, 0.20);
    stroke-width: 0.8395145631067961vh;
}
.interface-hud .hud .progress-bar-container .progress-bar-block .progress {
    stroke-width: 0.8395145631067961vh;
    stroke-dasharray: 251;
    stroke-dashoffset: 251;
    transition: stroke-dashoffset 0.5s;
}
.interface-hud .hud .progress-bar-container .progress-bar-block .circle-progress-indicator {
    position: relative;
    color: rgba(255, 255, 255);
    font-size: 1.5vh;
    font-family: Montserrat-SemiBold; 
    text-align: center;
    top: -2vh;
    left: 0.3vh;
}
.interface-hud .hud .weapon-container {
    width: 30.808252427184467vh;
    height: 8.566747572815533vh;
    right: 0;
    top: 0;
    position: absolute;
    background: linear-gradient(269deg, rgba(217, 81, 0, 0.90) 1%, rgba(217, 81, 0, 0.70) 38%, rgba(217, 81, 0, 0.65) 50%, rgba(217, 81, 0, 0.20) 85%, rgba(217, 81, 0, 0.100) 90%, rgba(217, 81, 0, 0) 100%);
    backdrop-filter: blur(4vh);
    -webkit-backdrop-filter: blur(4vh);
    position: absolute;
    top: 29vh;
}
.interface-hud .hud .weapon-container .rectangle965 {
    width: 9.495145631067961vh;
    height: 8.563825242718447vh;
    right: 0;
    top: 0;
    position: absolute;
    background: rgba(249, 106, 19, 0.10);
    box-shadow: 0vh 0vh 1.246105004282831vh rgba(0, 0, 0, 0.35);
    border-top-left-radius: 0.6067961165048543vh;
    border-bottom-left-radius: 0.6067961165048543vh;
}
.interface-hud .hud .weapon-container .weapon-name {
    right: 11.5vh;
    top: 2vh;
    position: absolute;
    color: white;
    font-size: 1.700291262135921vh;
    font-family: Montserrat-SemiBold;
    font-weight: 700;
}
.interface-hud .hud .weapon-container .weapon-icon {
    width: 11vh;
    left: 21vh;
    top: 1.1vh;
    position: absolute;
}
.interface-hud .hud .weapon-container .ammo-block {
    width: 7.496359223300971vh;
    height: 2.063106796116505vh;
    right: 13.5vh;
    top: 3vh;
    position: absolute
}
.interface-hud .hud .weapon-container .ammo-block p {
    position: relative;
    font-size: 1.395922330097086vh;
    font-family: Montserrat-SemiBold;
    text-align: right;
    color: rgba(255, 255, 255, 0.58);
}
.interface-hud .hud .weapon-container .ammo-block p a {
    font-size: 1.7067961165048543vh;
    color: white;
}
.interface-hud .hud .weapon-container .ammo-block .ammo-icon {
    width: 2.8vh;
    height: 2.8vh;
    position: absolute;
    top: -0.35vh;
    left: 7.5vh;
}
.interface-hud .hud .money-container {
    width: 30.010679611650485vh;
    height: 4.854368932038835vh;
    right: 0;
    top: 38.8vh;
    position: absolute;
    background: linear-gradient(269deg, rgba(217, 81, 0, 0.90) 1%, rgba(217, 81, 0, 0.70) 38%, rgba(217, 81, 0, 0.65) 50%, rgba(217, 81, 0, 0.20) 85%, rgba(217, 81, 0, 0.100) 90%, rgba(217, 81, 0, 0) 100%);
    backdrop-filter: blur(4vh);
    -webkit-backdrop-filter: blur(4vh);
}
.interface-hud .hud .money-container .money {
    right: 5vh;
    top: 1.35vh;
    position: absolute;
    color: white;
    font-size: 1.941747572815534vh;
    font-family: Montserrat-SemiBold;
    font-weight: 700;
}
.interface-hud .hud .money-container img {
    width: 3vh;
    right: 1vh;
    top: 1.1vh;
    position: absolute
}
