/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
/*             CEF STUDIO            */
[v-cloak]{display:none}.interface-speedometer{position:absolute;right:1vh;bottom:2vh}.interface-speedometer .speedometer-background{position:absolute;bottom:-2.5vh;right:-1vh}.interface-speedometer .speed-meter{width:30.807038834951456vh;height:30.77305825242719vh;position:relative}.interface-speedometer .speed-meter path{will-change:auto;-webkit-transition:stroke-dashoffset 550ms ease-in-out;transition:stroke-dashoffset 550ms ease-in-out}.interface-speedometer .speed-count{position:absolute;bottom:10.8vh;right:6vh;text-align:center;clear:both}.interface-speedometer .speed-count p{width:20vh;height:.3vh;font-size:4.347572815533981vh;font-family:Montserrat-SemiBold;text-align:center;color:#fff}.interface-speedometer .speed-count p a,.interface-speedometer .speed-indicator .left-indicator p a{color:rgba(255,255,255,.4)}.interface-speedometer .speed-count span{font-family:Montserrat-SemiBold;font-size:1.5776699029126213vh;color:rgba(255,255,255,.4)}.interface-speedometer .speed-count img{position:absolute;width:25vh;right:-2vh;top:-5vh;z-index:-52}.interface-speedometer .speed-indicator{position:absolute;bottom:3.5vh;right:3vh}.interface-speedometer .speed-indicator .left-indicator{position:absolute;top:.5vh}.interface-speedometer .speed-indicator .left-indicator p{width:10vw;font-size:1.3749514563106797vh;font-family:Montserrat-SemiBold;color:#fff;margin-top:1.8vh}.interface-speedometer .speed-indicator .left-indicator svg{width:1.5536407766990292vh;height:1.5536407766990292vh;left:0;top:.125vh;position:absolute}.interface-speedometer .speed-indicator .left-indicator span{left:2vh;top:0;position:absolute;color:#fff;font-size:1.3749514563106797vh;font-family:Montserrat-SemiBold;font-weight:500}.interface-speedometer .speed-indicator .indicator-icon-block{width:3vw;height:2vw;position:relative;display:inline-block;margin-left:8.6vh}.interface-speedometer .speed-indicator .indicator-icon-block .indicator-icon{display:inline-grid;width:1.6vh;height:1.6vh;position:relative;margin-left:.3vh}.interface-speedometer .speed-indicator .fuel-block{width:20vh;position:relative;top:.3vh;right:.5vh;display:flex}.interface-speedometer .speed-indicator .fuel-progress-block{width:40%;height:1.1135922330097086vh;background:rgba(255,255,255,.2);border:.22135922330097088vh solid rgba(255,255,255,.3);border-radius:.39271844660194175vh;margin-top:.2vh;margin-left:.5vh}.interface-speedometer .speed-indicator .fuel-progress{height:100%;max-width:100%;background:#fff;border-radius:.25271844660194175vh}.interface-speedometer .speed-indicator .fuel-block img{width:2.2vh}.interface-speedometer .speed-indicator .fuel-block span{color:#fff;font-size:1.2749514563106797vh;font-family:Montserrat-SemiBold;font-weight:500;margin-top:.2vh;margin-left:.5vh}